spring:
  application:
    name: recommendation-service
  ai:
    ollama:
      base-url: http://localhost:11434
      embedding:
        model: mxbai-embed-large

  datasource:
    url: jdbc:postgresql://localhost:5431/recommendation_db
    username: postgres
    password: password
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
    show-sql: false

  jackson:
    serialization:
      indent-output: true

server:
  port: 8080

logging:
  level:
    com.recommendation: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE